<h2>Workout Organizer Sign Up</h2>

<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
<br>
<p style="color:red"><%=@errormsg%></p>
